<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verified</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100svh;
      width: 100svw;
      background-color: black;
      margin: 0;
    "
  >
    <div
      style="
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: #fff;
        flex-direction: column;
        padding: 2rem 3rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="color: #7b2cbf">Email not Verified</h1>

      <p style="color: #555; font-weight: 600">
        Send another
        <a
          href="https://apolo.kvdenker.me"
          style="text-decoration: none; color: #7b2cbf"
          >verification!</a
        >
      </p>
    </div>
  </body>
</html>
